body {
    background-color: #f4f6f9;
}

.container-box {
    max-width: 500px;
    margin-top: 60px;
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
